@import url("../swiper/swiper-bundle.min.css");

.swiper img {
  width: auto;
  height: auto;
}

.icon {
  size: 400px;
}

.headingimportlinks > div > p {
  text-align: center;
  margin-bottom: 50px;
  font-style: initial;
  font-size: 40px;
  color: #15158d;
}

/* .icon {
  display: inline-block;
  height: 31px;
  width: 40px;
} */

.think-equity div {
  height: 400px;
  width: 800px;
}

.think-equity div :nth-child(2) {
  height: 200px;
}

.think-equity div > p:nth-child(1) {
  font-size: 30px;
  color: #15158d;
}

#proud-to-have {
  text-align: center;
}